.slider {
    /*左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: auto;
}

.slider .slick-slide {
    margin: 0 10px;
}

.slick-prev::before,
.slick-next::before {
    color: black !important;
    /* color: black; */
}
