@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

a {
  color: #000000;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}


/* ヘッター ---------------------------------------*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header>.container {
  height: 100px;
  display: flex;
  align-items: center;
  max-width: 1080px;
  padding: 0;
}

/* ロゴ -------------------------------------------*/
.area_logo_header .logo {
  display: block;
}

.area_logo_header img {
  height: 40px;
  vertical-align: bottom;
  padding: 0 15px;

}

.area_logo_header a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

/* ヘッダーナビ -------------------------------------------*/
.nav_header {
  margin: 0 0 0 auto;
}

.list_nav_header {
  display: flex;
  align-items: center;
  /* margin: 0 -15px; */
  margin: 0;
}

.list_nav_header>li {
  padding: 0 15px;
}

.list_nav_header a {
  color: #474747;
  font: 400 20px/1em "futura-pt", 'noto sans japanese', sans-serif;
}

.list_nav_header a:hover {
  opacity: 0.5;
  transition: 0.3s;
}




/* トップページ----------------------------------------------- */
/* TOP----------------------------------------- */
.area_top_view {
  background: url(../images/top_BG.jpg) no-repeat bottom center;
  background-size: cover;
}

.area_top_view>.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area_top_view img {
  text-align: left;
  height: 75px;
  vertical-align: bottom;
}

/* トップタイトル */
.top_title {
  display: block;
  padding: 0 0 0 0px;
  position: relative;
}

/* サブキャッチコピーの大きさ */
.sub_title {
  position: relative;
  width: 30%;
  max-width: 1080px;
}

.area_top_view .ttl {
  color: #474747;
  font: 200 13px/1em "futura-pt", 'noto sans japanese', sans-serif;
  letter-spacing: .04em;
  max-width: 1080px;
  margin: 20px 170px;
  padding: 0 0 0 0px;
  position: relative;
}

.area_top_view p {
  line-height: 175%;
}

/* エリア_ホーム メニュータイトルの間隔*/
[class*="area_home"] {
  /* padding: 上　左右　下; */
  padding: 60px 0 120px;
}

/* ヘッド（WORKSとか） --------------------------------------*/
.head_home {
  margin: 0 0 100px;
  display: flex;
  justify-content: center;
}

.head_home .ttl {
  color: #6f6f6f;
  /* font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal; */
  font: 500 56px/1em "futura-pt", 'noto sans japanese', sans-serif;
  font-weight: 500;
  /* "WORK"と下の下線との距離 */
  padding: 0 0 12px;
  position: relative;
}

/* "WORK"下のピンクの下線 */
.head_home .ttl:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #F7A8B6;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* プロフィール-------------------------------------- */
.area_home_profile img {
  box-shadow: 0px 16px 6px -8px rgba(16, 61, 72, .2);
}

/* 2分割レイアウト */
.layout_2_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -40px;
}

.layout_2_div>div {
  width: 50%;
  padding: 0 40px;
}

/* テキスト_ホーム（プロフィール文） */
.text_home .ttl {
  color: #303030;
  font: 400 32px/1em 'futura-pt', 'noto sans japanese', sans-serif;
  margin: 0 0 20px;
}

.text_home .description {
  color: #303030;
  font: 300 13px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
}


/* フッター --------------------------------------------*/
footer>.container {
  font: 400 10px/1em "futura-pt", 'noto sans japanese', sans-serif;
  padding: 0 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* WORKSページ--------------------------------------------------------- */
/* WORKSヘッター ----------------------------------------*/
.area_works_view {
  background: url(../images/top_BG.jpg) no-repeat bottom center;
  background-size: cover;
  height: 270px;
  margin-bottom: 40px;
}

/* ページタイトル */
.page-title {
  text-align: center;
  color: #575757;
  font: 66px/1em "futura-pt", 'noto sans japanese', sans-serif;
  font-weight: 500;
  /* "WORKS"の文字を下げる */
  padding: 120px 0 0 0;
  text-transform: uppercase;
}

/* 2段組にする */
.works_contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

article {
  width: 74%;
}

/* 作品タイトルや使用技術 */
.works_info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.works_title {
  /* color: #575757; */
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  /* 少し上に上げてサイドバーの文字に高さを合わせている */
  top: -6px;
}

.works_tech {
  /* works_titleがabsoluteなので文字の大きさ分下げる */
  padding: 35px 0 0 0;
}

/* 画像の上下から文字までの空き */
article img {
  margin-bottom: 20px;
}

/* pタグで囲ったもの同士の距離を空ける */
article p {
  margin-bottom: 1rem;
}

/* サイドバー */
aside {
  width: 20%;
}
.sub_works {
  margin-bottom: 60px;
  list-style: none;
}
.sub_works li {
  border-bottom: 1px #ddd solid;
}
.sub_works a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub_works a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
aside p {
  padding: 12px 10px;
}
.aside_title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #F7A8B6 solid;
  font-weight: normal;
}


/* -------------------------------------------------------------------- */
/* レスポンシブ------------------------------------- */
@media (max-width: 600px) {
  .top_title {
    width: 50vw;
  }

  .top_title {
    margin-top: 100px;
  }
}