@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

a {
  color: #000000;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}


/* ヘッター ---------------------------------------*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header>.container {
  height: 100px;
  display: flex;
  align-items: center;
  max-width: 1080px;
  padding: 0;
}

/* ロゴ -------------------------------------------*/
.area_logo_header .logo {
  display: block;
}

.area_logo_header img {
  height: 40px;
  vertical-align: bottom;
  padding: 0 15px;

}

.area_logo_header a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

/* ヘッターナビ -------------------------------------------*/
.nav_header {
  margin: 0 0 0 auto;
}

.list_nav_header {
  display: flex;
  align-items: center;
}

.list_nav_header>li {
  padding: 0 15px;
}

.list_nav_header a {
  color: #474747;
  font: 400 20px/1em "futura-pt", 'noto sans japanese', sans-serif;
}

.list_nav_header a:hover {
  opacity: 0.5;
  transition: 0.3s;
}




/* トップページ----------------------------------------------- */
/* TOP----------------------------------------- */
.area_top_view {
  background: url(../images/top_BG.jpg) no-repeat bottom center;
  background-size: cover;
}

.area_top_view>.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  /* フッターと同じmax-width */
  max-width: 1080px;
  /* 左右に余白をつける（今はフッターと同じ15px）*/
  /* width: 94%; */
  padding: 0 15px;
  /* TOPの要素を左揃えにする */
  align-items: start;
  justify-content: center;
}

/* トップタイトル */
.top_title img {
  /* タイトルの大きさ */
  height: 60px;
  display: block;
  position: relative;
}

/* サブタイトル */
.sub_title img {
  height: 30px;
}

/* トップの説明文 */
.area_top_view p {
  color: #373737;
  font: 200 13px/1em "futura-pt", 'noto sans japanese', sans-serif;
  letter-spacing: .04em;
  line-height: 175%;
}

/* WORKSグループとプロフィールとの間隔（area_homeとついているclass全てに適用）*/
[class*="area_home"] {
  /* padding: 上　左右　下; */
  /* ただしアニメーションがついているものはjsの方で距離を管理されている */
  padding: 100px 0 0px;
  /* padding: 120px 0 120px; */
}

/* ヘッド（WORKSとか） --------------------------------------*/
.area_home_feature>.container {
  max-width: 1080px;
  padding: 0 0 0 15px;
}

.head_home {
  /* ヘッドとコンテンツの距離 */
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
}

.head_home .ttl {
  color: #6f6f6f;
  font: 500 56px/1em "futura-pt", 'noto sans japanese', sans-serif;
  font-weight: 500;
  font-style: normal;
  /* "WORK"と下の下線との距離 */
  padding: 0 0 12px;
  position: relative;
}

/* "WORK"下のピンクの下線 */
.head_home .ttl:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #F7A8B6;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* カルーセル （写真比率は元画像に依存）*/
.slider {
  max-width: 1080px;
  /*左右に余白を持たせて中央寄せ*/
  /* width: 94%; */
  /* padding: 0 15px; */
  margin: 0 auto;
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/* スライド同士に余白をつける */
.slider .slick-slide {
  margin: 0 10px;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}

/* moreボタン -------------------------------------*/
.area_more_button>.container {
  max-width: 1080px;
  padding: 0 15px;
  display: flex;
  /* align-items: center; */
}

.more {
  margin: 0 0 0 auto;
  /* padding: 0 15px; */
}

.square_button {
  position: relative;
  background-color: transparent;
  color: #F7A8B6;
  padding: 12px 43px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #F7A8B6;
  border-radius: 5px;
}

.square_button:hover {
  background-color: #F7A8B6; /* 背景色 */
  color: white; /* 文字色 */  
  border: 2px solid #F7A8B6; /* 枠線 */
}




/* プロフィール-------------------------------------- */
.area_home_profile>.container {
  max-width: 1080px;
  padding: 0 0 0 15px;
}

.area_home_profile img {
  box-shadow: 0px 16px 6px -8px rgba(16, 61, 72, .2);
}

/* 2分割レイアウト */
.layout_2_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* margin: 上下 左右; */
  /* margin: 0 -40px; */
}

.layout_2_div>div {
  width: 45%;
  /* padding: 0 40px; */

}

/* テキスト_ホーム（プロフィール文） */
.layout_2_div .text_home {
  width: 45%;
}

.text_home .ttl {
  color: #303030;
  font: 400 32px/1em 'futura-pt', 'noto sans japanese', sans-serif;
  /* margin: 上 左右 下; */
  margin: 0 0 20px;
}

.text_home .description {
  color: #303030;
  font: 300 13px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
}


/* フッター --------------------------------------------*/
footer>.container {
  font: 400 10px/1em "futura-pt", 'noto sans japanese', sans-serif;
  padding: 120px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* WORKSページ--------------------------------------------------------- */
/* WORKSヘッター ----------------------------------------*/
.area_works_view {
  background: url(../images/top_BG.jpg) no-repeat bottom center;
  background-size: cover;
}

.area_works_view>.container {
  max-width: 1080px;
  padding: 0 15px;
  height: 270px;
  /* コンテンツとの距離 */
  margin-bottom: 40px;
}

/* ページタイトル */
.page_title {
  text-align: center;
  color: #575757;
  font: 66px/1em "futura-pt", 'noto sans japanese', sans-serif;
  font-weight: 500;
  /* "WORKS"の文字を下げる */
  padding: 120px 0 0 0;
  text-transform: uppercase;
}

/* WORKSグリッド------ */
.area_works_grid>.container {
  max-width: 1080px;
  padding: 0 15px;
}

.grid {
  display: grid;
  gap: 100px 50px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin-bottom: 50px;
}

.grid a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.grid img {
  box-shadow: 0px 16px 6px -8px rgba(16, 61, 72, .2);
}

/* 画像と文字の余白 */
.grid p {
  padding-top: 5px;
}

/* WORKS詳細-------------------------- */
.area_works_article>.container {
  max-width: 1080px;
  padding: 0 15px;
}

/* 2段組にする */
.works_contents {
  display: flex;
  justify-content: space-between;
  /* フッターまでの距離 */
  margin-bottom: 50px;
}

article {
  width: 74%;
  /* 左カラムの文字色 */
  color: #373737;
}

/* 作品タイトルと使用技術 */
.works_info {
  position: relative;
  margin-bottom: 20px;
}

.works_title {
  /* color: #575757; */
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 0px;
}

/* .works_tech { */
  /* padding: 35px 0 0 0; */
/* } */

/* 画像の上下から文字までの空き */
article img {
  margin-bottom: 20px;
}

/* pタグで囲ったもの同士の距離を空ける */
article p {
  margin-bottom: 1rem;
}

/* サイドバー */
aside {
  width: 22%;
  /* 右カラムの文字色 */
  color: #373737;
}

.sub_works {
  margin-bottom: 60px;
  list-style: none;
}

.sub_works li {
  border-bottom: 1px #ddd solid;
}

.sub_works a {
  padding: 10px;
  display: block;
}

.sub_works a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

aside p {
  padding: 12px 10px;
}

.aside_title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #F7A8B6 solid;
  font-weight: normal;
}

/* ------------------------------------------------------------------- */
/* プロフィールページ------------------------------------------------ */
.area_profile_article>.container {
  max-width: 1080px;
  padding: 0 15px;
}

.profile_layout_2 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
}

.profile_layout_2>div {
  width: 35%;
}

.profile_img_caption img {
  box-shadow: 0px 16px 6px -8px rgba(16, 61, 72, .2);
  margin-bottom: 20px;
}

.profile_img_caption .ttl {
  /* color: #6f6f6f; */
  font: 500 30px/1em "futura-pt", 'noto sans japanese', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 10px;
}

.profile_layout_2 .profile_personal_info {
  width: 61%;
}

.profile_personal_info p {
  margin-bottom: 1rem;
}

/* -------------------------------------------------------------------- */
/* レスポンシブ------------------------------------- */
@media screen and (max-width: 768px) {

  /* TOP---------------- */
  .top_title {
    width: 50vw;
  }

  .top_title {
    margin-top: 100px;
  }

  /* worksグリッドページ--------------------- */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* worksページ---------------------------- */
  .works_contents {
    flex-direction: column;
  }

  article,
  aside {
    width: 100%;
  }

  aside {
    margin-top: 60px;
  }

  .works_info {
    margin-bottom: 30px;
  }

  .works_title {
    font-size: 1.375rem;
  }

  .works_tech {
    font-size: 0.875rem;
    margin-top: 10px;
  }


  /* プロフィール---------- */
  .layout_2_div>div {
    width: 100%;
    /* padding: 0 40px; */
    margin: 0 0 40px;
    /* margin: 0 auto; */
  }

  /* テキスト_ホーム（プロフィール文） */
  .layout_2_div .text_home {
    width: 100%;
  }

  /* 名前の大きさ */
  .text_home .ttl {
    font: 400 30px/1em 'futura-pt', 'noto sans japanese', sans-serif;
    /* margin: 上 左右 下; */
    margin: 0 0 20px;
  }

  /* 自己紹介の大きさ */
  .text_home .description {
    font: 300 13px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
  }
}

/* ウィンドウサイズ480px以下------------------------------------ */
@media screen and (max-width: 480px) {

  /* worksグリッドページ------------ */
  .grid {
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* プロフィール----------------- */
  /* 名前の大きさ */
  .text_home .ttl {
    font: 400 24px/1em 'futura-pt', 'noto sans japanese', sans-serif;
    /* margin: 上 左右 下; */
    margin: 0 0 20px;
  }

  /* 自己紹介の大きさ */
  .text_home .description {
    font: 300 10px/1.8em 'futura-pt', 'noto sans japanese', sans-serif;
  }
}